In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

train_df = pd.read_csv("train.csv")
test_df  = pd.read_csv("test.csv")

In [103]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [104]:
#concating the dataset to find identical features for feature engineering
df = pd.concat([train_df, test_df], ignore_index=True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [105]:
# Extract Mr, Mrs, Miss, Master etc and create another column with these titles
#expand=False,    Tells pandas to return a Series instead of a DataFrame.
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

<>:3: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\.'
/tmp/ipython-input-557438243.py:3: SyntaxWarning: invalid escape sequence '\.'
  df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [106]:
# Merge rare titles into one group
df['Title'] = df['Title'].replace(['Lady','Countess','Capt','Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona'], 'Rare')
df['Title'] = df['Title'].replace(['Mlle','Ms'], 'Miss')
df['Title'] = df['Title'].replace('Mme', 'Mrs')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,Mr
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,Rare
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Mr
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,Mr
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,Master

In [107]:
# SibSp	    # of siblings / spouses onboard
# Parch	    # of parents / children onboard
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1 #Why + 1? ,Because you must count the passenger themself.

In [108]:
train2_df.groupby('FamilySize')['Survived'].agg(['count','mean']).sort_index()
#from this we get to know 1 has low survival rate, 2,3,4 have highest, more than that have very low

            count      mean
FamilySize
1             537  0.303538
2             161  0.552795
3             102  0.578431
4              29  0.724138
5              15  0.200000
6              22  0.136364
7              12  0.333333
8               6  0.000000
11              7  0.000000

In [109]:
df['IsAlone'] = (df['FamilySize'] == 1).astype(int) #this means whose famsize==1 they r alone
df['IsAlone']

0       0
1       0
2       1
3       0
4       1
       ..
1304    1
1305    1
1306    1
1307    1
1308    0
Name: IsAlone, Length: 1309, dtype: int64

In [110]:
#Fare per person (true wealth signal)
df['FarePerPerson'] = df['Fare'] / df['FamilySize']
df['FarePerPerson']

0         3.625000
1        35.641650
2         7.925000
3        26.550000
4         8.050000
           ...
1304      8.050000
1305    108.900000
1306      7.250000
1307      8.050000
1308      7.452767
Name: FarePerPerson, Length: 1309, dtype: float64

In [111]:
#Only richer passengers had cabins recorded.
df['CabinHas'] = df['Cabin'].notnull().astype(int)
df['CabinHas']

0       0
1       1
2       0
3       1
4       0
       ..
1304    0
1305    1
1306    0
1307    0
1308    0
Name: CabinHas, Length: 1309, dtype: int64

In [112]:
# People sharing same ticket likely traveled together
df['TicketGroup'] = df.groupby('Ticket')['Ticket'].transform('count')
df['TicketGroup']

0       1
1       2
2       1
3       2
4       1
       ..
1304    1
1305    3
1306    1
1307    1
1308    3
Name: TicketGroup, Length: 1309, dtype: int64

In [113]:
# Handle Missing Values
df['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))

df['Fare'] = df['Fare'].fillna(df['Fare'].median())
df['Embarked'] = df['Embarked'].fillna('S')

In [114]:
# Age Binning
#Survival isn’t linear with age — children and young women survived much more than middle-aged men. So binning lets the model learn step-like survival patterns instead of smooth curves.
df['AgeBin'] = pd.cut(df['Age'], bins=[0,12,20,35,55,80]).astype(str)
df['AgeBin']

0       (20, 35]
1       (35, 55]
2       (20, 35]
3       (20, 35]
4       (20, 35]
          ...
1304    (20, 35]
1305    (35, 55]
1306    (35, 55]
1307    (20, 35]
1308     (0, 12]
Name: AgeBin, Length: 1309, dtype: object

In [115]:
# Survival is NOT just sex or class — it is the combination:
df['SexPclass'] = df['Sex'] + "_" + df['Pclass'].astype(str) # sex x Pclass  eg:-rich_men/ poor_women
df['EmbarkPclass'] = df['Embarked'] + "_" + df['Pclass'].astype(str) #embark x Pclass  eg:- S_1/C_3 etc

In [116]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Title,FamilySize,IsAlone,FarePerPerson,CabinHas,TicketGroup,AgeBin,SexPclass,EmbarkPclass
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,Mr,2,0,3.625000,0,1,"(20, 35]",male_3,S_3
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,Mrs,2,0,35.641650,1,2,"(35, 55]",female_1,C_1
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,Miss,1,1,7.925000,0,1,"(20, 35]",female_3,S_3
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,Mrs,2,0,26.550000,1,2,"(20, 35]",female_1,S_1
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,Mr,1,1,8.050000,0,1,"(20, 35]",male_3,S_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,29.0,0,0,A.5. 3236,8.0500,...,S,Mr,1,1,8.050000,0,1,"(20, 35]",male_3,S_3
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,...,C,Rare,1,1,108.900000,1,3,"(35, 55]",female_1,C_1
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,...,S,Mr,1,1,7.250000,0,1,"(35, 55]",male_3,S_3
1307,1308,NaN,3,"Ware, Mr. Frederick",male,29.0,0,0,359309,8.0500,...,S,Mr,1,1,8.050000,0,1,"(20, 35]",male_3,S_3
1308,1309,NaN,3,"Peter, Master. Michael J",male,4.0,1,1,2668,22.3583,...,C,Master,3,0,7.452767,0,3,"(0, 12]",male_3,C_3

## TRAIN TEST SPLIT

In [117]:
# this gets back to the reverse of concatenation we did at start so that we train and test on diff dataset that was given by Kaggle
train2_df = df.iloc[:len(train_df)]
test2_df = df.iloc[len(train_df):]

#from features we removed "survived" to only use it as o/p and not i/p
features = [
 'Pclass','Sex','Age','Fare','Embarked','Title','FamilySize','IsAlone',
 'FarePerPerson','CabinHas','TicketGroup','AgeBin','SexPclass','EmbarkPclass'
]

X = train2_df[features]
y = train2_df['Survived']

X_test = test2_df[features]

# CATBOOST MODEL

In [118]:
!pip install catboost
from catboost import CatBoostClassifier

cat_cols = X.select_dtypes(include=['object','category']).columns.tolist()

model = CatBoostClassifier(
    iterations=1200,
    depth=7,
    learning_rate=0.03,
    loss_function='Logloss',
    eval_metric='Accuracy',
    verbose=200
)

model.fit(X, y, cat_features=cat_cols)

Requirement already satisfied: catboost in /usr/local/lib/python3.12/dist-packages (1.2.8)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from catboost) (1.16.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (3.3.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->catboost) (9.1.2)
0:	learn: 0.8092031	total: 60.1ms	remaining: 1m 12s
200:	learn: 0.9012346	total: 2.96s	remaining: 14.7s
400:	learn: 0.9248036	total: 4.27s	remaining: 8.5s
600:	learn: 0.9483726	total: 7.7s	remaining: 7.68s
800:	learn: 0.9663300	total: 11s	remaining: 5.49s
1000:	learn: 0.9730640	total: 16.1s	remaining: 3.21s
1199:	learn: 0.9820426	total: 19.1s	remaining: 0us

In [120]:
pred = model.predict(X_test)

submission = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],
    'Survived': pred.astype(int)
})

submission.to_csv("submission.csv", index=False)